<!DOCTYPE html>
<html class="h-100" lang='en'>

<head>
  <%- include('../partials/head.ejs'); %>
</head>

<body body-data="form" class="d-flex flex-column h-100">
  <header>
    <%- include('../partials/header.ejs'); %>
  </header>
  <main>
    <div class="container">
      <form id="pdf-form" class="container mt-4">
        <!-- Templates for dynamic sections -->
        <%- include('../partials/sectionTmpls.ejs'); %>
        <!-- Basic Information -->
        <div class="tab">
          <%- include('../partials/step1.ejs'); %>
        </div>
        <div class="tab">
          <%- include('../partials/step2.ejs'); %>
        </div>
        <div class="tab">
          <%- include('../partials/step3.ejs'); %>
        </div>

        <div class="tab">
          <%- include('../partials/step4.ejs'); %>
        </div>

        <div class="tab">
          <%- include('../partials/step5.ejs'); %>
        </div>

        <!-- TODO: get feedback on how proposal is generated. One button with zip or keep two? -->
        <!-- Action Buttons -->
        <div class="d-flex gap-3 mt-3">
          <button type="button" id="generate-json" class="btn btn-secondary">Generate JSON</button>
          <button type="button" id="generate-pdf" class="btn btn-success">Generate PDF</button>
          <button type="button" class="btn btn-primary" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
          <button type="button" class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
      </form>
    </div>
  </main>
  <footer class="footer mt-auto py-3">
    <%- include('../partials/footer.ejs'); %>
  </footer>
  <%- include('../helpers/formScript.ejs'); %>
</body>

</html>
